* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: adorn-condensed-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8edeb;
}

.navbar {
  width: 100%;
  top: 0;
  height: 150px;
  position: fixed;
  background-color: #f8edeb;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.navbar ul {
  position: fixed;
  height: 150px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
.navbar ul img {
  width: 160px;
  height: fit-content;
  object-fit: cover;
  margin-left: 1vw;
  margin-right: 10vw;
  margin-top: 25px;
  padding: 0 20px 0;
}
.navbar ul li {
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  height: fit-content;
  list-style: none;
}
.navbar ul li a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.header .header-banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .header-banner .header-banner-content {
  padding: 20px 20px;
  margin: 0 20px;
  gap: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background: linear-gradient(#f5ebe0, #ffd6ff);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}
.header .header-banner .header-banner-content .header-title {
  display: flex;
  text-align: center;
  font-size: 1vw;
  color: #000000;
  flex-direction: column;
}
.header .header-banner .header-banner-content img {
  width: 30vw;
  object-fit: cover;
  border-radius: 1em;
  filter: drop-shadow(0 4px 0.5rem rgb(0, 0, 0));
}

.c_about {
  height: 100vh;
  padding: 50px 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  gap: 80px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f5ebe0, #ffd6ff);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}
.about img {
  width: 50vw;
  object-fit: cover;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.title {
  font-size: 1.05vw;
}

.monument {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 4em;
}

.gallerie {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 4em;
}

@media screen and (max-width: 1205px) {
  .header .header-banner .header-banner-content {
    gap: 50px;
  }
  .header .header-banner .header-banner-content .header-title {
    font-size: 12px;
  }
  .header .header-banner .header-banner-content img {
    width: 300px;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    width: 70vw;
  }
  .title {
    font-size: 13px;
  }
  .navbar {
    height: 100px;
  }
  .navbar ul {
    height: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
