* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: adorn-condensed-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f8edeb;
}



.navbar{
    width: 100%;
    top: 0;
    height: 150px;
    position: fixed;
    background-color: #f8edeb;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 150px;
        height: fit-content;
        object-fit: cover;
        padding: 0 20px 0;
        position: absolute;
        left: 0;
        margin: 1vw;
        top: 0;
    } 
    .burger{
        display: none;
        div {
            width: 20px;
            height: 3px;
            background-color: #000000;
            margin: 3px;
            border-radius: 3px;
        }
    }
        ul {
            position: fixed;
            height: 150px;
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;

                    li {
                    padding: 0 30px;
                    cursor: pointer;
                    font-size: 20px;
                    height: fit-content;
                    list-style: none;
                    a{
                        list-style: none;
                        text-decoration: none;
                        color: #000000;
                    }
                }

        }
}




.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    .header-banner {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        .header-banner-content {
            padding: 20px 20px;
            margin: 0 20px;
            gap: 80px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            background: linear-gradient(#f5ebe0, #ffd6ff);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 1em;

            .header-title{
                display: flex;
                text-align: center;
                font-size: 1vw;
                color: #000000;
                flex-direction: column;
            }
            img{
                width: 30vw;
                object-fit: cover;
                border-radius: 1em;
                filter: drop-shadow(0 4px 0.5rem rgb(0, 0, 0));
            }
        }
    }
}

.c_about{
    height: 100vh;
    padding: 50px 4em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about {
    display: flex;
    gap: 80px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f5ebe0, #ffd6ff);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1em;

    img {
        width: 50vw;
        object-fit: cover;
        border-radius: 1em;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    }
}

.title {
    font-size: 1.05vw;
}

.monument {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 4em;
}

.gallerie{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 4em;
}

@media screen and (max-width: 1205px){

    .header .header-banner .header-banner-content{
        gap: 50px;
        .header-title{
            font-size: 12px;
        }
        img {
            width: 300px;
        }
    }    

    .about {
        flex-direction: column;
        img {
            width: 70vw;
        }
    }
    .title {
        font-size: 13px;
    }

    .navbar {
        img {
            height: 100px;
        }
        height: 100px;
        ul {
            height: 100px;
            li {
                padding: 0 20px;
            }
        }
    }
}

@media screen and (max-width: 700px){
    body {
        overflow-x: hidden;
    }
    .navbar {
        justify-content: space-around;
        padding-left: 60vw;
        .nav-links {
            position: absolute;
            right: 0 ;
            width: 60%;
            height: 80vh;
            top: 8vh;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1em 0 0 1em;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            li{
                opacity: 0;
            }
            img {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }


    .navbar .burger {
        display: block;
        cursor: pointer;
    }

    .navbar-active {
        transform: translateX(0%);
    }

}

